nltk==3.7
pandas==1.4.2
SCons==4.3.0
seaborn==0.11.2
sklearn==0.0
SteamRoller==2.0.1
textstat==0.7.3
spacy[cuda112]==3.3.1
transformers==4.20.1
torch==1.12.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.3.0/en_core_web_sm-3.3.0-py3-none-any.whl
ca-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/ca_core_news_sm-3.3.0/ca_core_news_sm-3.3.0-py3-none-any.whl
el-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/el_core_news_sm-3.3.0/el_core_news_sm-3.3.0-py3-none-any.whl
en-core-web-trf @ https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.3.0/en_core_web_trf-3.3.0-py3-none-any.whl
